/*RESET CSS =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

/*BASE =================== */
body {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  background-position-x: 33%;
  background-repeat: no-repeat;

  overflow: overlay;
}

/*====  scrollbar ============================ */

::-webkit-scrollbar {
  width: 1rem;
  background-color: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  background-color: #ffffff97;
}

/* NAVIGATION in ../navigation/navigation.css =================== */
/* footer in ../footer/footer.css =================== */


/* NAVIGATION =================== */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;

  background: transparent;
  backdrop-filter: blur(16px) saturate(105%);
  -webkit-backdrop-filter: blur(16px) saturate(105%);
  background-color: rgba(255, 255, 255, 0);

  width: 100vw;

  z-index: 100;

  transition: all 300ms ease-in-out;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button path {
  stroke: var(--green);
}

nav path {
  stroke: var(--green);
}

.logo img {
  width: 15rem;
  margin-left: -1rem;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
}

/* NAVIGATION ON SCROLL =================== */
nav.scroll {
  background: transparent;
  backdrop-filter: blur(16px) saturate(105%);
  -webkit-backdrop-filter: blur(16px) saturate(105%);
  background-color: rgba(176, 252, 205, 0.235);
}

nav#navigation.scroll path {
  stroke: var(--green);
}


/* MENU EXPANDED =================== */
body.menu-expanded {
  overflow: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 40%;
  
  background: var(--bg-color);

  width: 60vw;
  height: max-content;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: left;

  padding: 2cap;
  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateX(0);

  box-shadow: -5px 0 30px #00000023;

  border-radius: 0 0 0 3rem;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-bottom: 6rem;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.1rem;
} 

.menu ul li a {
  color: var(--color-white);
  background: var(--green);
  padding: 1rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: 400;
  transition: all 200ms ease-in-out;
  opacity: 1;

  position: relative;
}

.menu ul li a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1rem;
  opacity: .2;
  background: var(--primary-color);
}

.menu ul li a:hover {
  filter: brightness(1.1);
  opacity: 1;
  cursor: pointer;
}

body.menu-expanded .menu img.logo {
  width: 15rem;
  opacity: .5;

}

.menu .button {
  background-color: var(--secondary-color);
  border-radius: 4rem;

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;

  transition: all 200ms ease-in-out;
}

.menu button {
  font-size: 1.8rem;
  line-height: 2.3rem;

  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: #000000;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: var(--green);
}

body.menu-expanded nav#navigation.scroll path {
  stroke: var(--green);
}

/* RESPONSIVE =================== */

@media (min-width: 1300px) {
  /* reset =================== */
    nav#navigation .wrapper * {
      margin: 0;
      padding: 0;
      visibility: initial;
      display: initial;
      opacity: initial;
      flex-direction: initial;
      position: initial;
      font-weight: initial;
      font-size: initial;
      transform: initial;
      color: initial;
      background-color: initial;
    }
  
    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .social-links {
      display: none;
    }

    nav#navigation {
      border-bottom: 1px solid var(--primary-color);
    }
  
    nav#navigation .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    nav#navigation .menu ul:nth-child(1) {
      display: flex;
      gap: 3.2rem;
    } 
  
    nav#navigation .menu ul li a {
      color: var(--color-white);
      background: var(--green);
      padding: 1rem 2rem;
      border-radius: 3rem;
      font-weight: 500;
    }

    nav#navigation .menu ul li a::before {
      display: none;
    }

    nav#navigation .menu ul li:nth-child(6) {
      animation: entering 400ms ease-in-out backwards;
    }

    nav#navigation .menu ul li:nth-child(5) {
      animation: entering 400ms ease-in-out;
      animation-delay: 200ms;
    }

    nav#navigation .menu ul li:nth-child(4) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 400ms;
    }

    nav#navigation .menu ul li:nth-child(3) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 600ms;
    }

    nav#navigation .menu ul li:nth-child(2) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 800ms;
    }
  
    nav#navigation .menu ul li:nth-child(1) {
      animation: entering 400ms ease-in-out backwards;
      animation-delay: 1000ms;
    }

    nav#navigation .menu img.logo {
      display: none;
    }
  } 

/* ANIMATIONS =================== */

@keyframes entering {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}