#topico {
    background: var(--gradient-white);
    padding-top: 8rem;
    overflow: hidden;
    min-height: 100dvh;
}

#topico .content .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#topico h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-color);
    background: #5ce298c7;
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;

    position: relative;
}

#topico h3 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

#topico h3 span {
    color: var(--primary-color);
}

#topico p {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 400;

    position: relative;
    line-height: 1.4;
}

#topico p span {
    font-weight: 600;
}

#topico img.principal {
    width: 70%;
    margin-top: 3rem;
}

#topico .image ion-icon {
    display: none;
}

@media (min-width: 1080px) {
    section#topico .content {
        display: grid ;
        grid-template-columns: 1fr 1fr;
        margin-right: -20rem;
        gap: 8rem;
    }

    section#topico .content .text {
        margin-top: -7rem;
        margin-left: 7rem;
        align-items: end;
    }

    section#topico .content h2 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    section#topico .content h3 {
        font-size: 4rem;
        text-align: end;
        margin-bottom: 2rem;
    }

    section#topico .content p {
        font-size: 1.8rem;
        text-align: end;
    }

    section#topico .content .image {
        display: flex;
        position: relative;
    }

    section#topico .content img.principal {
        width: 45%;
        margin-top: 0;
    }

    section#topico .content .image ion-icon {
        display: inherit;
        font-size: 4rem;
        color: #fff;
        background-color: var(--primary-color);
        padding: 1.5rem;
        aspect-ratio: 1;
        border-radius: 50%;
        position: absolute;

        box-shadow:  5px 5px 11px #58585829,
             -5px -5px 11px #5e5e5e2a;

        border: 3px solid #99cefd67;

        animation: icon infinite ease-in-out 3s;
    }

    section#topico .content .image ion-icon.um {
        bottom: 10rem;
        right: 17rem;
    }
    
    section#topico .content .image ion-icon:last-child {
        top: 2rem;
        left: 5rem;
    }
    
}

@keyframes icon {
    50% {
        transform: translateY(5px);
    }
}