#beneficios {
    position: relative;
    overflow: hidden;
    background: var(--bg-color);
}

#beneficios header h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--Gilroy);
    line-height: 1.2;
    font-weight: 600;
}

#beneficios header h2 span {
    font-weight: 700;
    color: var(--green);
    font-family: var(--GilroyBold);
}

#beneficios .cards {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    gap: 2rem;
}

#beneficios .cards .card {
    padding: 3rem;
    border-radius: 2rem;
    border: 2px solid #f2f2f2;
    box-shadow: 5px 5px 20px #d3d3d3b0;

    transition: all 200ms ease-in-out;
}

#beneficios .cards .card:hover {
    box-shadow: 7px 7px 20px #c4c4c4cb;
}

#beneficios .cards .card img {
    width: 6rem;
}

#beneficios .cards .card h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: rgb(65, 65, 65);
}

#beneficios .cards .card p {
    font-size: 1.8rem;
    line-height: 1.6;
    font-weight: 400;
}

@media (min-width: 1080px) {
    #beneficios header h2 {
        font-size: 4.5rem;
    }

    section#beneficios .cards {
        margin-top: 7rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section#beneficios .cards .card {
        height: 100%;
        justify-content: space-between;
    }
}